.App {
  text-align: center;
}

.char-list{
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.character{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 1em;
  text-align: left;
  border: solid 1px black;
  background-color: beige;
  width: 20em;
}

.character span{
  font-weight: 500;
}
.header {
  margin-top: 2em;
}
/* write your parent styles in here for your App.js */
