.App {
  text-align: center;
}

.char-list{
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.character{
  box-sizing: border-box;
  margin: 1em 0;
  padding: 1em;
  text-align: left;
  border: solid 1px black;
  background-color: beige;
  width: 20em;
}
.header {
  margin-top: 2em;
}
/* write your parent styles in here for your App.js */
